/* Basic card styling */
.RecipeCard .card {
    position: relative;
<<<<<<< HEAD
    width: 310px;
=======
    width: 290px;
>>>>>>> 9403dd9880d4d02c4385df0a078177bbce31aa04
    height: 375px;
    background: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.2);
    box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 15px;
    z-index: 2;
}

/* Adds the circle background */
.RecipeCard .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3586ff;
    clip-path: circle(150px at 80% 20%);
    transition: 500ms;
    transition-delay: 0ms;
}

.RecipeCard .card:hover:before {
    clip-path: circle(150px at 80% -10%);
}

/* Adds the background text on the card */
.RecipeCard .card:after {
    content: "WHAT'S SHAKIN'";
    position: absolute;
    top: 20%;
    left: -10%;
    transform: rotate(15deg);
    font-size: 6em;
    font-weight: 800;
    font-style: italic;
    color: rgba(0, 0, 0, 0.05);
}

.RecipeCard .card .RecipeCard-Image {
    position: absolute;
<<<<<<< HEAD
    top: 50%;
    transform: translateY(-55%);
=======
    top: 40%;
    transform: translateY(-50%);
>>>>>>> 9403dd9880d4d02c4385df0a078177bbce31aa04
    z-index: 10000;
    width: 100%;
    height: 180px;
    transition: 500ms;
    transition-delay: 0ms;
}

/* Moves the image up when you hover on the card, so the buttons can be exposed */
.RecipeCard .card:hover .RecipeCard-Image {
    top: 10%;
    transform: translateY(0%);
    transition-delay: 0s;
}

.RecipeCard .card .RecipeCard-Image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    border-radius: 20px;
}

/* Initial card content positioning */
.RecipeCard .card .RecipeCard-Content {
    position: absolute;
    bottom: 0;
    width: 100%;
<<<<<<< HEAD
    height: 80px;
=======
    height: 90px;
>>>>>>> 9403dd9880d4d02c4385df0a078177bbce31aa04
    text-align: center;
    transition: 500ms;
    transition-delay: 0s;
    z-index: 10;
}

/* Increasing the height on card hover moves the text up */
.RecipeCard .card:hover .RecipeCard-Content {
    height: 130px;
}

.RecipeCard .card .RecipeCard-Content h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #111;
}

.RecipeCard .card .RecipeCard-Buttons button {
    background: #3586ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px;
    border: none;
    transition: 0.5s;
}

/* Buttons are initially styled to be hidden below the card with 'bottom' */
.RecipeCard .card .RecipeCard-Buttons {
    position: absolute;
    bottom: -30px;
    width: 100%;
    height: 50px;
    text-align: center;
    transition-delay: 0s;
    z-index: 10;
    opacity: 0;
}

/* Buttons are moved up with 'bottom' when you hover the card */
.RecipeCard .card:hover .RecipeCard-Buttons {
    opacity: 1;
    bottom: 0px;
    transition: 0.5s;
    transition-delay: 1s;
    transition: ease-in-out;
}

.RecipeCard .card .RecipeCard-Buttons button:hover {
    background: #111;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

/* When heart icon is clicked, useState changes the className, which changes styling */
.RecipeCard .card .RecipeCard-Buttons .Button-Favorites.clicked {
    background: #c0c0c0;
}

.RecipeCard .card .RecipeCard-Buttons .Button-Favorites.clicked i {
    color: #d83133;
}