.ContactUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px auto 250px;
    padding: 20px;
    width: 50%;
}

.ContactUs .Contact-Container .Contact-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.ContactUs .Contact-Container .Contact-Header h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
}

.ContactUs .Contact-Container .Contact-Header p {
    font-size: 20px;
    width: 80%;
}

.ContactUs .Contact-Container .Form-Main {
    height: 350px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    padding-top: 20px;
    margin-top: 20px;
}

.ContactUs .Contact-Container .Form-Main .Form-Name,
.ContactUs .Contact-Container .Form-Main .Form-Email,
.ContactUs .Contact-Container .Form-Main .Form-Message {
    width: 100%;
    display: flex;
    padding-bottom: 20px;
}

.ContactUs .Contact-Container .Form-Main .Form-Name label,
.ContactUs .Contact-Container .Form-Main .Form-Email label,
.ContactUs .Contact-Container .Form-Main .Form-Message label {
    width: 20%;
    text-align: right;
    padding: 3px 20px 0 0;
}

.ContactUs .Contact-Container .Form-Main .Form-Name input,
.ContactUs .Contact-Container .Form-Main .Form-Email input,
.ContactUs .Contact-Container .Form-Main .Form-Message textarea {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 0 0 10px;
}

.ContactUs .Contact-Container .Form-Main .Form-Message #subject {
    height: 150px;
}

.ContactUs .Contact-Container .Form-Main .Form-Submit {
    margin: 0 auto;
}

.ContactUs .Contact-Container .Form-Main .Form-Submit button {
    width: 150px;
    background: #3586ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px;
    border: none;
    transition: 0.5s;
}

.ContactUs .Contact-Container .Form-Main .Form-Submit button:hover {
    background: #111;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

@media only screen and (max-width: 1100px) {
    .ContactUs {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    .ContactUs .Contact-Container .Form-Main {
        height: 550px;
    }

    .ContactUs .Contact-Container .Form-Main .Form-Name,
    .ContactUs .Contact-Container .Form-Main .Form-Email,
    .ContactUs .Contact-Container .Form-Main .Form-Message {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 15px;
    }

    .ContactUs .Contact-Container .Form-Main .Form-Name label,
    .ContactUs .Contact-Container .Form-Main .Form-Email label,
    .ContactUs .Contact-Container .Form-Main .Form-Message label {
        width: 65%;
        text-align: left;
    }

    .ContactUs .Contact-Container .Form-Main .Form-Message #subject {
        height: 250px;
    }
}