/* Styling this page's header section */
.Details_Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-size: 100%;
    margin: 150px 0 20px 0;
}

.Details_Header h2 {
    font-size: 50px;
    color: #000;
}

/* Styling the main body of the results */
.Details_Card {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 110px;
}

.Details_Card .Card-Image {
    width: 50%;
    height: 30rem;
}

.Details_Card .Card-Image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.Details_Card .Card-Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 30rem;
    margin-left: 30px;
}

.Details_Card .Card-Body .Card-Title {
    font-size: 44px;
    margin: -10px 0 20px 0;
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

/* Styling the Add to Favorites button + text section */
.Details_Card .Card-Body .Card-Favorites,
.Details_Card .Card-Body .Card-Rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    font-size: 18px;
    padding-bottom: 25px;
}

.Details_Card .Card-Body .Card-Favorites button {
    background: #3586ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    transition: 0.5s;
}

.Details_Card .Card-Body .Card-Favorites button:hover {
    background: #111;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

/* When heart icon is clicked, useState changes the className, which changes styling */
.Details_Card .Card-Body .Card-Favorites .Button-Favorites.clicked {
    background: #c0c0c0;
}

.Details_Card .Card-Body .Card-Favorites .Button-Favorites.clicked i {
    color: #d83133;
}

/* Styling the rating element */
.Details_Card .Card-Body .Card-Rating input[type="radio"]{
    display: none;
}

.Details_Card .Card-Body .Card-Rating .star {
    cursor: pointer;
    transition: color 200ms;
}


/* Styling the Glass Type info */
.Details_Card .Card-Body .Card-Glass {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 25px;
    font-size: 18px;
}

.Details_Card .Card-Body .Card-Glass li {
    list-style-type: none;
}

.Details_Card .Card-Body .Card-Glass .GlassType-Text {
    text-align: left;
}

.Details_Card .Card-Body .Card-Glass .GlassType-Result {
    text-align: right;
}

/* Styling the Cocktail Ingredients info */
.Details_Card .Card-Body .Card-Ingredients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
    margin-bottom: 20px;
    font-size: 18px;
}

.Details_Card .Card-Body .Card-Ingredients li {
    list-style-type: none;
}

.Details_Card .Card-Body .Card-Ingredients .Ingredients,
.Details_Card .Card-Body .Card-Ingredients .Measurements {
    display: flex;
    flex-direction: column;
}

.Details_Card .Card-Body .Card-Ingredients .Ingredients {
    text-align: left;
}

.Details_Card .Card-Body .Card-Ingredients .Measurements {
    text-align: right;
}

/* Styling the Cocktail's Instructions info */
.Details_Card .Card-Body .Card-Instructions {
    width: 75%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    font-size: 18px;
}