.Details_Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-size: 100%;
    margin: 150px 0 20px 0;
}

.Details_Header h2 {
    font-size: 50px;
    color: #000;
}

.Details_Card {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.Details_Card .Card-Image {
    width: 50%;
    height: 30rem;
}

.Details_Card .Card-Image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.Details_Card .Card-Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 30rem;
    margin-left: 30px;
}

.Details_Card .Card-Body .Card-Title {
    font-size: 44px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
    text-align: center;
}

.Details_Card .Card-Body .Card-Glass {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 20px;
    font-size: 18px;
}

.Details_Card .Card-Body .Card-Glass li {
    list-style-type: none;
}

.Details_Card .Card-Body .Card-Glass .GlassType-Text {
    text-align: left;
}

.Details_Card .Card-Body .Card-Glass .GlassType-Result {
    text-align: right;
}

.Details_Card .Card-Body .Card-Ingredients {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 20px;
    font-size: 18px;
}

.Details_Card .Card-Body .Card-Ingredients li {
    list-style-type: none;
}

.Details_Card .Card-Body .Card-Ingredients .Ingredients,
.Details_Card .Card-Body .Card-Ingredients .Measurements {
    display: flex;
    flex-direction: column;
}

.Details_Card .Card-Body .Card-Ingredients .Ingredients {
    text-align: left;
}

.Details_Card .Card-Body .Card-Ingredients .Measurements {
    text-align: right;
}


.Details_Card .Card-Body .Card-Instructions {
    width: 350px;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    font-size: 18px;
}

.Details_Card button[disabled] {
    opacity:0.4;
    cursor : not-allowed !important;
}