.Favorites {
    margin-bottom: 250px;
}

.Favorites_Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-size: 100%;
    margin-top: 100px;
}

.Favorites_Header .Favorites_Header-Title {
    font-size: 50px;
    color: #000;
}

.Favorites_Header .Favorites_Header-Count {
    font-size: 24px;
    position: absolute;
    top: 250px;
}

.Favorites .Favorites_Filter .SpiritTypes-Header {
    width: 40%;
    border: 1px solid black;
    text-align: center;
    margin: 10px auto 0;
    font-size: 20px;
}

.Favorites .Favorites_Filter .SpiritTypes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 40%;
    cursor: pointer;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.Favorites .Favorites_Filter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.Favorites .Favorites_Filter .SpiritTypes .radio {
    padding-right: 15px;
    color: #000;
    margin-right: 35px;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
  
.Favorites .Favorites_Filter .SpiritTypes .radio:hover {
    color: #3586ff;
}

.Favorites .Favorites_Filter .SpiritTypes .radio.active {
    color: #d83133;
    transition: 250ms;
}
  
.Favorites .Favorites_Filter .SpiritTypes .radio #input {
    opacity: 0;
    cursor: pointer;
}

.Favorites .Favorites_Filter .Filter-Misc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.Favorites .Favorites_Filter .Filter-Misc .Filter-SortAlpha button.SortAZ {
    background: #d83133;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 0 0;
    border: none;
    transition: 0.5s;
}

.Favorites .Favorites_Filter .Filter-Misc .Filter-SortAlpha button.SortZA,
.Favorites .Favorites_Filter .Filter-Misc .Filter-SortRandom button {
    position: relative;
    background: #3586ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 0 0;
    border: none;
    transition: 0.5s;
}

.Favorites .Favorites_Filter .Filter-Misc .Filter-SortRandom button::after {
    content: "";
    background: #d83133;
    display: block;
    position: absolute;
    padding-top: 30%;
    padding-left: 100%;
    margin-left: -11px !important;
    margin-top: -25%;
    opacity: 0;
    transition: all 800ms;
}

.Favorites .Favorites_Filter .Filter-Misc .Filter-SortRandom button:active::after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0ms;
    overflow: hidden;
}


.Favorites_Recipe-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    background: var(--text-secondary);
}

.Favorites_Recipe-Container .Recipe_Card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 18rem;
    height: 26rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: var(--shadow);
    -moz-box-shadow: var(--shadow);
    box-shadow: var(--shadow);
}

.Favorites_Recipe-Container .RecipeCard.hidden {
    display: none;
}

.Favorites_Recipe-Container .Recipe_Card .Recipe_Card-Image {
    height: 15rem;
    width: 100%;
}

.Favorites_Recipe-Container .Recipe_Card .Recipe_Card-Image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Favorites_Recipe-Container .Recipe_Card .Recipe_Card-Body {
    height: 11rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Favorites_Recipe-Container .Recipe_Card .Recipe_Card-Buttons {
    display: flex;
    justify-content: space-evenly;
}

.Favorites_Recipe-Container .Recipe_Card .Recipe_Card-Buttons button {
    background: #3586ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 10px;
    border: none;
    transition: 0.5s;
}

.Favorites_Recipe-Container .Recipe_Card .Recipe_Card-Buttons button:hover {
    background: #111;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

.Favorites_Recipe-Container .Recipe_Card .Recipe_Card-Buttons .Button-Details {
    width: 80px;
}

.Favorites_Recipe-Container .Recipe_Card .Recipe_Card-Buttons .Button-Favorites {
    line-break: normal;
    padding: 0.375rem 0.75rem;
    width: 135px;
    line-height: 20px;
}


.Favorites .SpiritTypes-Header {
    width: 60%;
    border: 1px solid black;
    text-align: center;
    margin: 10px auto 0;
    font-size: 20px;
}

.Favorites .SpiritTypes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    cursor: pointer;
    margin: 0 auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
  
.Favorites .SpiritTypes .radio {
    padding-right: 15px;
    color: #000;
    margin-right: 35px;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
  
.Favorites .SpiritTypes .radio:hover {
    color: #3586ff;
}

.Favorites .SpiritTypes .radio.active {
    color: #d83133;
    transition: 250ms;
}
  
.Favorites .SpiritTypes .radio #input {
    opacity: 0;
    cursor: pointer;
}