* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic page and card styling */
.AboutUs {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 250px 0;
}

.AboutUs .AboutUs-Header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.AboutUs .AboutUs-Header h1 {
    color: #000;
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.AboutUs .AboutUs-Header p {
    width: 90%;
    margin: -20px 0 30px 0;
}

.AboutUs .AboutUs-Cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px 50px 100px;
    width: 100%;
}

.AboutUs .AboutUs-Cards .AboutUs-Card {
    position: relative;
    flex-wrap: wrap;
    width: 600px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 500ms;
    margin: 20px 0 50px 0;
}

.AboutUs .AboutUs-Cards .AboutUs-Card:hover {
    width: 600px;
}

/* Creating the box that will hold our pictures */
.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

/* Creating the circle that will sit behind our photos */
.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Circle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d83133;
    clip-path: circle(120px at center);
    transition: 500ms;
}

/* Card changes upon hover and the background changes from circle to square with different background color */
.AboutUs .AboutUs-Cards .AboutUs-Card:hover .AboutUs-Circle:before {
    background: #3586ff;
    clip-path: circle(400px at center);
}

.AboutUs .AboutUs-Cards .AboutUs-Card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 175px;
    border-radius: 10px;
    pointer-events: none;
    transition: 500ms;
    object-fit: cover;
    border: 2px solid white;
}

.AboutUs .AboutUs-Cards .AboutUs-Card:hover img {
    left: 72%;
    height: 350px;
    width: 275px;
}

/* Paragraph that appears on the card (hidden to start) */
.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 500ms;
    opacity: 0;
    visibility: hidden;
}

.AboutUs .AboutUs-Cards .AboutUs-Card:hover .AboutUs-Content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}

.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content p {
    color: #fff;
}

/* Links that appear on the cards + hover effects */
.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content a {
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: #111;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content a:hover {
    background: #d83133;
    color: #fff;
}

@media screen and (max-width: 1215px) {
    .AboutUs {
        height: 1500px;
        margin-top: 250px;
    }

    .AboutUs .AboutUs-Cards {
        padding-top: 0px;
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(1){
        transform: translate(-150px, 0);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(2){
        transform: translate(150px, -50px);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(3){
        transform: translate(-150px, -50px);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(4){
        transform: translate(150px, -50px);
    }
}

@media screen and (max-width: 1025px) {
    .AboutUs {
        height: 1500px;
        margin-top: 240px;
    }
}

@media screen and (max-width: 940px) {
    .AboutUs {
        height: 1600px;
        margin-top: 220px;
        margin-bottom: 400px;
    }

    .AboutUs .AboutUs-Cards {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(1){
        transform: translate(0, 0);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(2){
        transform: translate(0, 0);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(3){
        transform: translate(0, 0);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(4){
        transform: translate(0, 0);
    }
}

@media screen and (max-width: 770px) {
    .AboutUs {
        margin-top: 220px;
    }
}

@media screen and (max-width: 600px) {
    .AboutUs {
        margin-top: 775px;
        margin-bottom: 700px;
    }

    .AboutUs .AboutUs-Cards {
        padding-top: 50px;
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card {
        margin-bottom: 300px;
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:hover {
        transform: translateX(-135px);
        padding-top: 25px;
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:hover .AboutUs-Circle,
    .AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content {
        transform: translate(230px, 275px);
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 420px) {
    .AboutUs {
        margin-top: 300px;
    }
}