/* Basic page and card styling */
.AboutUs {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
}

.AboutUs .AboutUs-Header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.AboutUs .AboutUs-Header h1 {
    color: #000;
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.AboutUs .AboutUs-Header p {
    width: 90%;
    margin: -20px 0 30px 0;
}

.AboutUs .AboutUs-Cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    width: 80%;
}

.AboutUs .AboutUs-Cards .AboutUs-Card {
    position: relative;
    flex-wrap: wrap;
    width: 600px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 500ms;
    margin: 20px 0 50px 0;
}

/* Creating the box that will hold our pictures */
.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

/* Creating the circle that will sit behind our photos */
.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Circle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d83133;
    clip-path: circle(120px at center);
    transition: 500ms;
}

/* Card changes upon hover and the background changes from circle to square with different background color */
.AboutUs .AboutUs-Cards .AboutUs-Card:hover .AboutUs-Circle:before {
    background: #3586ff;
    clip-path: circle(400px at center);
}

.AboutUs .AboutUs-Cards .AboutUs-Card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 175px;
    border-radius: 10px;
    pointer-events: none;
    transition: 500ms;
    object-fit: cover;
    border: 2px solid white;
}

.AboutUs .AboutUs-Cards .AboutUs-Card:hover img {
    left: 72%;
    height: 350px;
    width: 275px;
}

/* Paragraph that appears on the card (hidden to start) */
.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 500ms;
    opacity: 0;
    visibility: hidden;
}

.AboutUs .AboutUs-Cards .AboutUs-Card:hover .AboutUs-Content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}

.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content p {
    color: #fff;
}

/* Links that appear on the cards + hover effects */
.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content a {
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: #111;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content a:hover {
    background: #d83133;
    color: #fff;
}

 /* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .AboutUs .AboutUs-Header h1 {
        color: #000;
        font-size: 50px;
        padding-bottom: 30px;
        text-align: center;
        margin-top: 700px;
    }

}

        /* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .AboutUs .AboutUs-Header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .AboutUs .AboutUs-Header h1 {
        color: #000;
        font-size: 50px;
        padding-bottom: 10px;
        text-align: center;
        margin-top: 800px;
    }
    
    .AboutUs .AboutUs-Header p {
        width: 90%;
    }


}