/* Basic page and card styling */
.AboutUs {
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 220px;
}

.AboutUs .AboutUs-Header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.AboutUs .AboutUs-Header h1 {
    color: #000;
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.AboutUs .AboutUs-Header p {
    width: 90%;
    margin: -20px 0 30px 0;
}

.AboutUs .AboutUs-Cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    width: 80%;
}

.AboutUs .AboutUs-Cards .AboutUs-Card {
    position: relative;
    flex-wrap: wrap;
    width: 600px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 500ms;
    margin: 20px 0 50px 0;
}

/* Creating the box that will hold our pictures */
.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

/* Creating the circle that will sit behind our photos */
.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Circle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d83133;
    clip-path: circle(120px at center);
    transition: 500ms;
}

/* Card changes upon hover and the background changes from circle to square with different background color */
.AboutUs .AboutUs-Cards .AboutUs-Card:hover .AboutUs-Circle:before {
    background: #3586ff;
    clip-path: circle(400px at center);
}

.AboutUs .AboutUs-Cards .AboutUs-Card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 175px;
    border-radius: 10px;
    pointer-events: none;
    transition: 500ms;
    object-fit: cover;
    border: 2px solid white;
}

.AboutUs .AboutUs-Cards .AboutUs-Card:hover img {
    left: 72%;
    height: 350px;
    width: 275px;
}

/* Paragraph that appears on the card (hidden to start) */
.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 500ms;
    opacity: 0;
    visibility: hidden;
}

.AboutUs .AboutUs-Cards .AboutUs-Card:hover .AboutUs-Content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 5px;
}

.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content p {
    color: #fff;
}

/* Links that appear on the cards + hover effects */
.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content a {
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: #111;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

.AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content a:hover {
    background: #d83133;
    color: #fff;
}


/* Mobile Responsiveness */
@media screen and (max-width: 1300px) {
    .AboutUs {
        margin-top: 550px;
        height: 1700px;
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(1) {
        transform: translateX(-200px);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(2) {
        transform: translate(200px, -50px);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(3) {
        transform: translate(-200px, -50px);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(4) {
        transform: translate(200px, -50px);
    }
}

@media screen and (max-width: 1100px) {
    .AboutUs {
        margin-top: 140px;
        height: 1700px;
    }
}

@media screen and (max-width: 900px) {
    .AboutUs {
        margin-top: 150px;
        height: 1700px;
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(1) {
        transform: translateX(0px);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(2) {
        transform: translate(0px, 0px);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(3) {
        transform: translate(0px, 0px);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:nth-child(4) {
        transform: translate(0px, 0px);
    }
}

@media screen and (max-width: 800px) {
    .AboutUs {
        margin-top: 150px;
        height: 1700px;
    }
}

@media screen and (max-width: 500px) {
    .AboutUs {
        margin-top: 10px;
        height: 2100px;
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Circle {
        height: 280px;
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:hover img {
        transform: translate(-210px, -475px);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:hover {
        height: 375px;
        transform: translateY(250px);
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content h2,
    .AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content p,
    .AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content a {
        width: 300px;
        text-align: center;
        transform: translateY(-20px);
    }
    
    .AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content h2 {
        font-size: 25px;
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content p {
        font-size: 16px;
    }

    .AboutUs .AboutUs-Cards .AboutUs-Card:hover:nth-child(1) {
        margin-bottom: 175px;
    }
    .AboutUs .AboutUs-Cards .AboutUs-Card:hover:nth-child(2) {
        margin-bottom: 175px;
    }
    .AboutUs .AboutUs-Cards .AboutUs-Card:hover:nth-child(3) {
        margin-bottom: 175px;
    }
    .AboutUs .AboutUs-Cards .AboutUs-Card:hover:nth-child(4) {
        margin-bottom: 175px;
    }
}

@media screen and (max-width: 500px) {
    .AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content h2,
    .AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content p,
    .AboutUs .AboutUs-Cards .AboutUs-Card .AboutUs-Content a {
        width: 250px;
    }
}