.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #111;
    transition: 0.5s;
    padding: 10px 30px;
    z-index: 1000;
}

/* Header changes when "sticky" class added */
.Header.sticky {
    background: #fff;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 5px 20px;
}

.Header.sticky .Name a p,
.Header.sticky .NavBar li a {
    color: #000;
    z-index: 10;
    transition: 500ms;
}

.Header.sticky .Logo img {
    height: 65px;
}

.Header .Name a,
.Header.sticky .Name a,
.Header .Logo a,
.Header.sticky .Logo a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: 500ms;
}

.Header .Name a p:hover,
.Header.sticky .Name a p:hover,
.Header .Logo a:hover,
.Header.sticky .Logo a:hover {
    color: #3586ff;
}

/* Basic styling */
.Header .Name a p {
    font-size: 30px;
    color: #fff;
    transition: 500ms;
}

.Header .Logo {
    transform: translateX(75px);
}

.Header .Logo img {
    height: 100px;
}

.Header .NavBar ul {
    display: flex;
    flex-direction: row;
}

.Header .NavBar ul li {
    margin: 0 10px;
    font-size: 20px;
    list-style-type: none;
}

.Header .NavBar ul li a {
    text-decoration: none;
    color: #fff;
    transition: 500ms;
}

.Header .NavBar ul li a:hover {
    color: #3586ff;
}

/* Hamburger Menu */
.Header .Header-Hamburger {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    margin: 0px;
    right: -60px;
}

.Header .Header-Hamburger .Hamburger-Closed {
    margin: 0 20px 0 10px;
    font-size: 36px;
    cursor: pointer;
}

.Header .Header-Hamburger .Hamburger-Closed i {
    color: #fff;
}

.Header .Header-Hamburger .Hamburger-Closed i:hover {
    color: #3586ff;
}

.Header .Header-Hamburger .Login,
.Header .Header-Hamburger .Sign_Up {
    font-size: 16px;
    background: #000;
    color: #fff;
    border: 0;
    padding: 7px 12px;
    transition: 0.3s;
    border-radius: 5px;
}

.Header .Header-Hamburger .Login {
    margin-right: 10px;
}

.Header .Header-Hamburger .Sign_Up {
    margin-left: 10px;
}

.Header .Header-Hamburger .Login:hover,
.Header .Header-Hamburger .Sign_Up:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
}

/* -------------- HAMBURGER-OPEN STYLING ------------ */
.Hamburger-Container.visible {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 500px;
}

.Hamburger-Container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #333;
    color: #fff;
    width: 300px;
    height: 100%;
}

.Hamburger-Container.hidden {
    display:none;
}

.Hamburger-Container .Icon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2.5rem 1.25rem 0;
}

.Hamburger-Container .Icon i {
    color: #E3E3E3;
    font-size: 24px;
}

.Hamburger-Container .Links {
    height: 350px;
    width: 100%;
    margin: 20px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.Hamburger-Container .Links li,
.Hamburger-Container .SocialMedia li {
    list-style-type: none;
}

.Hamburger-Container .Links li a,
.Hamburger-Container .SocialMedia li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    transition: 0.3s;
}

.Hamburger-Container .Icon i:hover,
.Hamburger-Container .Links li a:hover,
.Hamburger-Container .SocialMedia a:hover {
    color: #3586ff;
}

.Hamburger-Container .SocialMedia {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px auto 20px;
}

.Hamburger-Container .SocialMedia li a {
    font-size: 26px;
}

.Hamburger-Container p {
    width: 100%;
    margin: 10px auto 15px;
    font-size: 18px;
    text-align: center;
}

.Hamburger-Container .SocialMedia {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.Hamburger-Container .User {
    width: 100%;
    padding: 20px 0;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

.Header .Hamburger-Container .User .Login-Hamburger,
.Header .Hamburger-Container .User .Sign_Up-Hamburger {
    font-size: 18px;
    background: #FFF;
    color: #000;
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    transition: 0.3s;
}

.Header .Hamburger-Container .User .Login-Hamburger:hover,
.Header .Hamburger-Container .User .Sign_Up-Hamburger:hover {
    background: #3586ff;
    border-color: #3586ff;
    color: #FFF;
}

/* Mobile Responsiveness */
@media screen and (max-width: 1000px) {
    .Header .Header-Hamburger {
        right: 0;
        transition: 500ms;
        height: 100%;
    }

    .Header .NavBar ul li a {
        opacity: 0;
        transition: 250ms;
    }
}