.SearchForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    width: 100%;
    margin-top: 50px;
}

.SearchForm h1 {
    margin-bottom: 20px;
    font-size: 40px;
}

.SearchForm .SearchTypes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    cursor: pointer;
}
  
.SearchForm .SearchTypes .radio {
    padding-right: 15px;
    color: #000;
    margin-right: 35px;
    font-size: 18px;
    padding: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.SearchForm .SearchTypes .radio:hover {
    color: #3586ff;
}

.SearchForm .SearchTypes .radio.active {
    color: #d83133;
    transition: 250ms;
}
  
.SearchForm .SearchTypes .radio #input {
    opacity: 0;
    cursor: pointer;
}

.SearchForm .SearchTypes .radio .tooltiptext {
    display: none;
}

.SearchForm .SearchTypes .radio:hover .tooltiptext {
    display: flex;
    position: absolute;
    transform: translateY(20px);
    font-size: 12px;
    color: #3586ff;
}

.SearchForm .bar {
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 50%;
    padding: 2px 7px;
    font-size: 18px;
    text-align: center;
}
  
.SearchForm button {
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
    padding: 2px 20px;
    transition: 0.3s;
    background: #3586ff;
    border-color: #3586ff;
    color: #E3E3E3;
    cursor: pointer;
}
  
.SearchForm button:hover {
    background: #E3E3E3;
    border-color: #E3E3E3;
    color: #3586ff;
    cursor: pointer;
}

@media screen and (max-width: 1600px) {
    .SearchForm .bar {
        width: 70%;
    }

    .SearchForm .SearchTypes {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .SearchForm .SearchTypes {
        justify-content: space-evenly;
    }

    .SearchForm .bar {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .SearchForm h1 {
        margin-bottom: 20px;
        font-size: 30px;
    }

    .SearchForm .SearchTypes {
        justify-content: space-between;
    }

    .SearchForm .radio {
        font-size: 14px;
    }

    .SearchForm .bar {
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    .SearchForm .SearchTypes {
        justify-content: center;
    }

    .SearchForm .bar {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .SearchForm .SearchTypes {
        justify-content: center;
    }
}

@media screen and (max-width: 300px) {
    .SearchForm {
        padding-top: 100px;
    }

    .SearchForm .SearchTypes {
        justify-content: center;
        text-align: center;
        width: 100%;
    }
}