*,
*::before,
*::after {
  box-sizing: border-box;
}

.RecommendationsCarousel {
    background: #111;
    position: relative;
    padding: 30px 0;
    height: 450px;
}

.RecommendationsCarousel h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    font-size: 30px;
}

/* media scroller */
.RecommendationsCarousel .media-container {
    position: relative;
    height: 300px;
}

.RecommendationsCarousel .media-container svg {
    position: relative;
    transform: translateY(-200px);
}
  
.RecommendationsCarousel .media-scroller,
.RecommendationsCarousel .media-group {
    display: grid;
    gap: 0.25rem;
    grid-auto-flow: column;
}
  
.RecommendationsCarousel .media-scroller {
    overflow-x: hidden;
    scroll-behavior: smooth;
    grid-auto-columns: 100%;
    padding: 0 3rem;
    scroll-padding-inline: 3rem;
}
  
.RecommendationsCarousel .media-group {
    grid-auto-columns: 1fr;
}
  
.RecommendationsCarousel .media-element {
    position: relative;
    border-radius: 0.25rem;
    overflow: hidden;
    transition: 0.3s;
    height: 400px;
}

.RecommendationsCarousel .media-element:hover {
    transform: scale(125%);
}
  
.RecommendationsCarousel .media-element > img {
    width: 100%;
    object-fit: cover;
    height: 300px;
    cursor: pointer;
}

.RecommendationsCarousel .media-group .media-element .content {
    display: flex;
    justify-content: space-between;
}

.RecommendationsCarousel .media-group .media-element .content > p {
    position: relative;
    font-size: 20px;
    color: #fff;
    z-index: 20;
    cursor: pointer;
}

.RecommendationsCarousel .media-group .media-element .content i {
    color: #d83133;
    margin: auto 0;
    font-size: 20px;
    padding: 5px 15px 0 0;
}
  
.RecommendationsCarousel .next,
.RecommendationsCarousel .previous {
    display: none;
    align-items: center;
    z-index: 10;
    position: absolute;
    width: 3rem;
    padding: 1rem;
    background: rgb(0 0 0 / 0);
    opacity: 0;
}
  
.RecommendationsCarousel .previous {
    left: 0;
    top: 0;
    bottom: 0;
    height: 300px;
}
  
.RecommendationsCarousel .next {
    right: 0;
    top: 0;
    bottom: 0;
    height: 300px;
}

.RecommendationsCarousel #group-1 {
    margin-left: -30px;
}
  
.RecommendationsCarousel .media-group:first-child :where(.next, .previous) {
    display: flex;
}
  
.RecommendationsCarousel .media-scroller:hover :where(.next, .previous) {
    opacity: 1;
}
  
.RecommendationsCarousel :where(.next, .previous):hover {
    background: rgb(0 0 0 / 0.3);
}
  
.RecommendationsCarousel :where(.next, .previous) > svg {
    transition: transform 75ms linear;
    transform: scale(1);
}

.RecommendationsCarousel :where(.next, .previous):hover > svg {
    transform: scale(1.2);
}
  
.RecommendationsCarousel .media-group:target :where(.next, .previous) {
    display: flex;
}
  
.RecommendationsCarousel .media-scroller:has(:target:not(:first-child))
    .media-group:first-of-type
    .next {
    display: none;
}
  
/* navigation indicators */
.RecommendationsCarousel .navigation-indicators {
    opacity: 0;
    position: absolute;
    display: flex;
    gap: 3px;
    top: -1rem;
    right: 2rem;
}
  
.RecommendationsCarousel .navigation-indicators > * {
    width: 1rem;
    height: 2px;
    background: white;
    opacity: 0.5;
}
  
.RecommendationsCarousel .media-scroller:has(.media-group:target)
    .navigation-indicators
    > *:nth-child(1) {
    opacity: 0.5;
}
  
.RecommendationsCarousel .navigation-indicators > *:nth-child(1),
.RecommendationsCarousel .media-group:nth-child(1):target ~ .navigation-indicators > *:nth-child(1) {
    opacity: 1;
}
  
.RecommendationsCarousel .media-group:nth-child(2):target ~ .navigation-indicators > *:nth-child(2) {
    opacity: 1;
}
  
.RecommendationsCarousel .media-group:nth-child(3):target ~ .navigation-indicators > *:nth-child(3) {
    opacity: 1;
}
  
.RecommendationsCarousel .media-group:nth-child(4):target ~ .navigation-indicators > *:nth-child(4) {
    opacity: 1;
}
  
.RecommendationsCarousel .media-scroller:hover .navigation-indicators {
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    .RecommendationsCarousel .media-group .media-element .content > p,
    .RecommendationsCarousel .media-group .media-element .content i {
        font-size: 16px;
    }

}

@media screen and (max-width: 750px) {
    .RecommendationsCarousel .media-group .media-element .content > p,
    .RecommendationsCarousel .media-group .media-element .content i {
        font-size: 14px;
    }
}